<% provide :title, t(:detail_category_title) %>

<h2><%= @category.name %></h2>
<%= image_tag @category.photo.url %>
<h3 class="panel-title"><%= t :description_label %></h3>
<p><%= @category.description %></p>

<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <%= link_to new_admin_category_word_path(@category),
        class: "btn btn-primary" do %>
        <span class="glyphicon glyphicon-plus-sign"></span>
        <%= t :add_a_word %>
      <% end %>
    </div>
  </div>
</div>
<br/>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t :words %></h3>
  </div>
  <% if @words.any? %>
    <%= render @words %>
    <div class="text-center">
      <%= will_paginate @words %>
    </div>
  <% else %>
    <%= t :no_word_found %>
  <% end %>
</div>
